<section id="customer-support" class="overflow-x-hidden">
  <div class="row">
    <div class="col-md-6">
      <div class="image-wraper">
        <img class="img-responsive" src="../../../assets/images/gran_espacio.jpg" alt="">
      </div>
    </div>
    <div class="col-md-5">
      <div class="customer-support-content padding-top-bottom-120 sm-padding-top-bottom-50-75">
        <h4>Gran Espacio</h4>
        <p class="margin-top-bottom-30">Contamos con instalaciones con gran espacio para trabajar. Con una distribución exacta para poder trabajar cómodamente.</p>
        <a class="btn btn-orange border-none btn-rounded-corner" href="https://ccaitese.com/privacy-policy/">Politica de Privacidad<span
            class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
      </div>
    </div>
  </div>
</section>
