<section id="introduction" class="gradient-violat padding-top-90 home-slider">
  <div id="home-slider" class="home-slider">
    <div>
      <div class="sliding-card-with-bottom-image text-center padding-top-90">
        <h2 class="cta-heading">Bienvenido al Centro de Cooperación</h2>
        <h2 class="slider-para">Academia Industria (CCAI)</h2>
        <div class="cta-btn-group">
          <a class="btn-video" href="https://www.youtube.com/watch?v=B-X6y5dDBUM"><span class="icon-rounded bordered-ios"><i
                class="ion-ios-play-outline"></i></span>Mira el video sobre...</a>
        </div>
        <div class="image-container text-center sm-display-none">
          <img class="img-responsive" src="../../../assets/images/fondo_principal.jpg">
        </div>
      </div>
    </div>
    <hr class="">
    <div>
      <div class="container">
        <div class="row">
          <div class="image-right-slide-bg clearfix" style="background-image:url(../../../assets/images/instlaciones2.jpg)">
            <div class="col-md-12">
              <h2 class="cta-heading">Contamos con instalaciones</h2>
              <h2 class="cta-heading">de primera</h2>
              <p class="slider-para">Es muy importante el desarrollo tecnológico para nosotros,</p>
              <p class="slider-para">es por eso que nuestro equipo es de gran calidad para lograr</p>
              <p class="slider-para">formar ingenieros de calidad.</p>
              <div class="cta-btn-group">
                <a class="btn border-none btn-rounded-corner" href="https://ccaitese.com/equipo/">Conoce mas...<span
                    class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
