<section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">
  <div class="container">
    <div class="heading-wraper text-center">
      <h4 class="#">Equipo de Trabajo:</h4>
      <hr class="heading-devider gradient-orange">
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial-carousel" class="owl-carousel">
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="../../../assets/images/JACOB.jpg" alt="">
                <h5 class="client-name">Francisco Jacob Ávila Camacho</h5>
                <p class="client-designation">Coordinador de CCAI.</p>
                <ul class="social-list">
                  <li><a href="https://www.linkedin.com/in/jacob-avila-camacho/"><i class="ion-social-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Con una experiencia de más de 15 años en el área de tecnología y siendo profesor del Tecnológico de Estudios Superiores de Ecatepec, formando grandes ingenieros en su paso por la escuela.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="../../../assets/images/JUAN.jpg" alt="">
                <h5 class="client-name">Juan Manuel Stein Carrillo</h5>
                <p class="client-designation">Encargado de proyectos.</p>
                <ul class="social-list">
                  <li><a href="https://www.linkedin.com/in/juan-manuel-stein-carrillo-586635185/"><i class="ion-social-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Profesor del Tecnológico de Estudios Superiores de Ecatepec desde hace 10 años, lleva la logística en los proyectos que se asignan en el Centro de Cooperación Academia Industria (CCAI).</p>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="../../../assets/images/ADOLFO.jpg" alt="">
                <h5 class="client-name">Adolfo Meléndez Ramírez.</h5>
                <p class="client-designation">Encargado de proyectos.</p>
                <ul class="social-list">
                  <li><a href="https://www.linkedin.com/in/phd-adolfo-melendez-ramirez-23b90376/"><i class="ion-social-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Un profesor con alta trayectoria en el área tecnológica y con muchas certificaciones y experiencia en redes, guía a los estudiantes a realizar proyectos de calidad y utilidad.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="../../../assets/images/LEONARDO.jpg" alt="">
                <h5 class="client-name">Leonardo Miguel Moreno Villalba.</h5>
                <p class="client-designation">Encargado de proyectos.</p>
                <ul class="social-list">
                  <li><a href="https://www.youtube.com/channel/UCmiik0pCnObXFrUm0GgOx8g"><i class="ion-social-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Siendo del área de informática, el profesor Leonardo es la conexión entre el área de informática y sistemas que conforman este Centro de Cooperación Academia Industria (CCAI).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
