t<section id="blog-card" class="padding-top-bottom-90">
  <div class="container">
    <div class="heading-wraper text-center margin-bottom-80">
      <h4>Acerca de</h4>
      <hr class="heading-devider gradient-orange">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="../../../assets/images/TESE.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">TESE</small></p>
            <h4 class="card-title">EDUCACIÓN DE CALIDAD.</h4>
            <p class="card-text"><small class="text-muted italic">07<sup>th</sup> may 2022</small></p>
            <p class="card-text">La educación en el TESE es de primer nivel para formar grandes profesionales.</p>
            <a href="http://www.tese.edu.mx/tese2010/" class="btn btn-link">Leer mas...<span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="../../../assets/images/TESE1.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">TESE</small></p>
            <h4 class="card-title">ALTA COMPETITIVIDAD EN EL MERCADO</h4>
            <p class="card-text"><small class="text-muted italic">07<sup>th</sup> may 2022</small></p>
            <p class="card-text">Generamos ingenieros con capacidades altas para el actual mercado.</p>
            <a href="http://www.tese.edu.mx/tese2010/loader.aspx?n=MZRGJYVT" class="btn btn-link">Leer mas...<span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="../../../assets/images/TESE2.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">TESE</small></p>
            <h4 class="card-title">VARIEDAD DE INGENIERIAS</h4>
            <p class="card-text"><small class="text-muted italic">07<sup>th</sup> may 2022</small></p>
            <p class="card-text">Contamos con las ingenierías mas competitivas del mercado.</p>
            <a href="http://tese.edu.mx/tese2010/default.aspx?id_a=b3" class="btn btn-link">Leer mas...<span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
