<section id="feature" class="padding-top-bottom-120 bg-image-fit-50" style="background:url(../../../assets/images/instalaciones.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-settings"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">INTERNET DE LAS COSAS (TIC) Y DESARROLLO DE SOFTWARE</h4>
            <p>Desarrollo de proyectos IOT para sistemas embebidos y comunicación inalámbrica enfocados a la industria 4.0. Así como proyectos para desarrollar software positiva para apoyar a la industria de todo tipo. </p>
          </div>
        </div>
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-calendar"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">CIBERSEGURIDAD</h4>
            <p>Proyectos enfocados a la ciberseguridad en redes y sistemas con análisis de vulnerabilidades y estrategias de protección.</p>
          </div>
        </div>
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-ipad"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">INTELIGENCIA ARTIFICIAL</h4>
            <p>Aprendizaje supervisado y no supervisado para sistemas inteligentes utilizando redes neuronales, lógica, difusa, etc.</p>
          </div>
        </div>
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-ipad"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">REALIDAD VIRTUAL, AUMENTADA E IMPRESIÓN 3D</h4>
            <p>Sistemas de realidad aumentada e inmersiva para diagnóstico, capacitación, mantenimiento, etc. Así como proyectos para demostrar la impresión 3D.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
