<footer class="padding-top-120">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-left-content">
          <div class="logo-colored">
            <img src="../../../assets/images/logo_ccai.png" alt="">CCAI
          </div>
          <div class="content">
            <p class="margin-bottom-30 margin-top-30">Av. Tecnológico SN Col, Valle de Anahuac, 55210 Ecatepec de Morelos, Méx.</p>
            <p>+50002300</p>
            <p>ccai@tese.edu.mx</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Leer mas...</h4>
              <div class="list-group">
                <a href="https://ccaitese.com/inicio-2/" class="list-group-item">Inicio</a>
                <a href="https://angular.io/" class="list-group-item">Leer Angular</a>
                <a href="https://nodejs.org/es/" class="list-group-item">Leer Node js</a>
                <a href="https://code.visualstudio.com/" class="list-group-item">Leer Visual Studio Code</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Soporte</h4>
              <div class="list-group">
                <a href="https://ccaitese.com/servicios/" class="list-group-item">Preguntas Frecuentes</a>
                <a href="https://twitter.com/avilajacob" class="list-group-item">Contacto</a>
                <a href="https://www.facebook.com/TESECCAI" class="list-group-item">Pagina</a>
                <a href="https://ccaitese.com/contacto/" class="list-group-item">Contacto</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Acerca de</h4>
              <div class="list-group">
                <a href="https://www.facebook.com/TESECCAI/" class="list-group-item">Acerca de</a>
                <a href="http://tese.edu.mx/tese2010/default.aspx?id_a=b3" class="list-group-item">Carreras</a>
                <a href="https://ccaitese.com/privacy-policy/" class="list-group-item">Politica de Privacidad</a>
                <a href="https://ccaitese.com/contacto/" class="list-group-item">Contacto</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Referencias</h4>
              <div class="list-group">
                <a href="https://ccaitese.com/inicio-2/" class="list-group-item">Inicio</a>
                <a href="https://www.youtube.com/channel/UCmiik0pCnObXFrUm0GgOx8g" class="list-group-item">Acerca de</a>
                <a href="https://ccaitese.com/servicios/" class="list-group-item">Servicios</a>
                <a href="https://ccaitese.com/" class="list-group-item">Introduccion</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="footer-divider">
    <div class="copyright-cta">
      <p class="text-uppercase">Derechos Reservados &copy; <a href="#"><span class="span text-violat ">DAGM & MDD</span></a>
      </p>
    </div>
  </div>
  <div class="footer-end-line"></div>
</footer>
