<section id="cta" class="gradient-violat cta padding-top-bottom-90">
  <div class="container">
    <div class="row">
      <img src="../../../assets/images/servicios.jpg" alt="">
      <div class="col-md-12 text-center">
        <h3 class="cta-heading">Investigacion</h3>
        <p class="#">Conoce mas investigaciones del Centro CCAI</p>
        <div class="cta-btn-group">
          <a class="btn border-none btn-rounded-corner" href="https://ccaitese.com/investigacion/">Conoce mas...<span
              class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
