<section id="services" class="padding-top-90">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive sm-display-none" src="../../../assets/images/me_servicios.jpg" alt="">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="heading-wraper text-center margin-bottom-80">
              <h4>Mejores Servicios</h4>
              <p>Tecnologías de la Información para la Industria 4.0</p>
              <hr class="heading-devider gradient-orange">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Manufactura Aditiva</h5>
            <p class="services-content margin-bottom-25">Con Impresoras 3D de formato amplio que permiten crear prototipos y dispositivos para la industria y el sector salud.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Realidad Virtual</h5>
            <p class="services-content margin-bottom-25">Aplicaciones con realidad aumentada para el mantenimiento industrial, recorridos virtuales.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Big Data</h5>
            <p class="services-content margin-bottom-25">Datos a gran escala y complejos que precisan de aplicaciones informáticas no tradicionales de procesamiento de datos para tratarlos adecuadamente.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Ingeniería de Software</h5>
            <p class="services-content margin-bottom-25">Rama de la informática que estudia la creación de programas para bien de la industria de cualquier índole.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
